*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
html{
  height: 100vh;
}
body{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #20242d;
  height: 100%;
  margin: 10 0;
  font-family: Georgia, serif;
	font-weight: 300;
}
.App {
  text-align: center;
}
header footer{
  width: 100%;
  display: flex;
  flex: 0 1 auto;
}
.wrapper{
  display: flex;
  flex: 1 1 auto;
}
.LinkForm{
  color: #f6a617;
  text-decoration: none;
}
.inputauth{
  margin: 10px 0;
  padding: 10px;
  background: #262b37;
  color: white;
  border: unset;
  border-radius: 10px;
  outline: none;
}
.ButSubAuth{
  margin: 10px 0px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: none;
    border: 1px solid #f6a617;
    color: white;
    cursor: pointer;
    transition: all 0.7s;
}
.ButSubAuth:hover, .SetBut:hover{
  background-color: #f6a617;
}
.socials_cont{
    border-radius: 100px;
    margin: 0 5px;
    padding: 2px;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    border: 1px solid #f6a617;
    transition-duration: .5s;
}
.social_icon{
  display: flex;
    flex: 1 2 auto;
    justify-content: center;
    justify-content: space-around;
}
.socials_cont:hover{
  background-color: #f6a617;
}
.linkHead{
  margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 1 auto;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .5s;
    color: white;
}

.linkHead1:hover{
  box-shadow: 0px 0px 6px #f6a617;
	background-color: #f6a617db;
}

.linkHead2:hover{
  background-color: #2a303c;
}
.headBut1:hover,.WrapBut:hover, .activeBut:hover{
  box-shadow: 0px 0px 6px #f6a617;
	background-color: #f6a617db;
}
.headBut2:hover{
  background-color: #2a303c;
}
.SubHeadEl{
  color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  min-height: 30px;
  justify-content: flex-start;
  align-items: center;
  transition-duration: .3s;
  cursor: pointer;
  font-family: Georgia, serif;
}
.SubHeadEl:hover{
  background-color: #606a7b;
}
.setLink{
  padding: 15px;
    display: flex;
    max-width: 100%;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
    transition-duration: .3s;
    cursor: pointer;
    color: white;
}

.setLinkHov:hover{
  background-color: #2c323f;
}
.wrapImg{
  width: 100px;
    height: 100px;
    position: absolute;
    background-color: #00000052;
    transition-duration: .3s;
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
}
.wrapImgBlock{
  width: 100px;
    height: 100px;
    position: absolute;
    transition-duration: .3s;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inpLogo{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  
}
.wrapImg:hover{
  opacity: 1;
}
.sucANDrem{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  cursor: pointer;
}


input[type=checkbox] {
  visibility: hidden;
}
.checkOth{
  cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease;
    background: #2e3442;
}
.RoomBut{
  flex-direction: row;
    width: 90%;
    position: relative;
    margin: 5px 0;
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1 auto;
    border-radius: 10px;
    background-color: grey;
    cursor: pointer;
    transition-duration: .5s;
    font-size: 11pt;
    color: white;

    
}
.WrapColElem{
  display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.testAvatar1,.testAvatar2, .testAvatar3{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 2px 0;
  
  aspect-ratio: 1 / 1;
  display: flex;
    background-color: #f6a617;
    border-radius: 50%;
}
.testAvatar1{
  width: 30px;
}
.testAvatar2{
  width: 50px;
}
.testAvatar3{
  width: 100px;
}
.popup {
  position: fixed;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
	justify-content: center;
	top: 0px;
	left: 50%;
	margin: auto;
	z-index: 99;
  width: 300px;
	height: 100px;
  overflow: visible;
}

.popup.visible {
  opacity: 1;
}
.msg{
  border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    transition-duration: .3s;
    color: white;
}
.cell {
	position: relative;
	text-decoration: none;
}
.cell:before {
	content: "";
	border-bottom: 2px solid #e51e1e;
	position: absolute;
	top: 0;
	left: 0;    
	width: 100%;
	height: 50%;
}

.progress-bar {
  width: 100%;
  border-radius: 10px;
  min-height: 85px;
  background-color: #434b5d;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #f6a617;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-text-people {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}
.progress-text-lvl {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
.swimTextBar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.newClass{
  margin-left: 5px;
    flex: 0 1 30%;
    flex-direction: column;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    background-color: #262b37;
}




.Wrapperr{
  position: relative;
    flex-wrap: wrap;
    display: flex;
    flex: 1 0 auto;
    padding-top: 10px;
    width:100%;
    flex-direction: column;
    min-height: calc(100vh - 197px);
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #2d3340;
}
.WrapperrCont{
  position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    border-radius: 10px;
    color: white;
}
.RowItem1{
  margin-right: 5px;
  flex-direction: column;
  flex: 1 1 70%;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  background-color: #262b37;
}
.ContBar{
  display: flex;
  justify-content: center;
  width: 100%;
}
.RowItem2El1{
  display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.RowItem2El2{
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.RowItem2{
  margin-left: 5px;
  flex: 0 1 30%;
  flex-direction: column;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  background-color: #262b37;
}



.WrapperCont_stat{
  flex-wrap: wrap;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    color: white;
}
.stats_row_items{
  display: flex;
  flex: 1 1 20%;
  justify-content: space-around;
}
.RowItem_stat{
  padding: 5px;
  margin: 10px;
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  border-radius: 4px;
  text-align: center;
}



.Headerr{
  width: 100%;
  height: 75px;
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
}
.Headst{
  display: flex;
flex: 0 1 1200px;
height: 75px;
-webkit-height: 75px;
justify-content: space-between;
}
.HeadEl1{
  display: flex;
  justify-content: flex-start;
  flex: 0 0 18%;
  align-items: center;
  font-size: 16pt;
}
.Linkhead{

}
.HeadEl2{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  color:white;
  padding: 10px;
}
.HeadEl2El1{
  justify-content: flex-start;
  display: flex;
  flex: 1 1 auto;
}
.Socials{

}
.Share{

}
.SocialIcon{

}
.HeadEl2El2{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}
.El2El1{
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-around;
}
.BalanceCont{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 1 auto;
  align-items: center;
}
.BalanceName{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 2px;
}
.BalanceValue{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BalanceValueEl{
  padding: 0 5px;
  border-radius: 10px;
  min-width: 60;
  font-size: 15pt;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 2px;
}
.BalansImg{

}
.El2El2{
  

  display: flex;
    flex: 0 1 auto;
    align-items: center;
}
.ProfLogo{
  border-radius: 100px;
  border: 1px solid #f6a617;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: .5s;
}
.Triangle{
  display: none;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #697386;
  position: absolute;
  margin-top: 75px;
  margin-left: 15px;
  z-index: 25;
}
.SubHeadCont{
  position: absolute;
  margin-top: 385px;
  margin-left: -200px;
  display: none;
  flex-direction: column-reverse;
  border-top: 15px solid transparent;
  padding: 0;
  z-index: 25;
}
.SubHead{
  padding: 10px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  min-width: 150px;
  max-width: 250px;
  min-height: 50px;
  background-color: #697386;
  box-shadow: 6px 7px 9px #5f5f5fd6;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.Deposit{
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 1 auto;
  border-radius: 10px;
  background-color: #f6a617;
  cursor: pointer;
  transition-duration: .5s;
}
.UnDeposit{
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 1 auto;
  border-radius: 10px;
  cursor: pointer;
  border: 0.5px solid #2d3340;
}
.Share{
  display: flex;
  flex: 1 2 auto;
  justify-—Åontent: space-around;
}
.SocialIcon{
  margin-left: 10px;
  display: flex;
  flex: 1 2 auto;
}
.Socials{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BalansImg{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 2px;
  height: 10px;
  width: 10px;
  padding: 10px;
}
.pc_none{
  display: none !important;
}
#income{
  display: none;
}
.important:placeholder-shown{
  border: 1px solid #f6a617;
}